<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
  <title>Book List Page</title>
</head>
<body>
<nav th:replace="/fragments/frag_topmenu :: tpl_nav()"></nav>
<div class="container">
  <h3 style="text-align:center; padding : 50px 0 20px">
    Book List Page
    <small class="text-muted">by Bs v4.x</small>
  </h3>

  <table class="table table-striped text-center table-hover">
    <caption>List of books</caption>
    <thead class="thead-dark">
    <tr>
      <th>책분류번호</th>
      <th>제목</th>
      <th>유형</th>
      <th>저자</th>
      <th>대출가능여부</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row:${bookList}">
      <td th:text="${row.id}">홍길동</td>
      <td th:text="${row.title}">1</td>
      <td th:text="${row.type}">2</td>
      <td th:text="${row.author}">3</td>
      <td th:text="${row.inUse}">3</td>
    </tr>
    <tr>
      <td class="bg.primary"></td>
      <td class="bg-info" colspan=3>#</td>
      <td class="bg-success" colspan=2>#</td>
    </tr>
    </tbody>
  </table>

  <div class="text-center">


    <button class="btn btn-outline-secondary rounded-0" onclick="history.go(-1)">Back</button>

  </div>

  <div class="mb-5">
    &nbsp;
  </div>

</div>
</body>
</html>